# Dominio o URL Base del proyecto para generar el código QR
PUBLIC_SITE_URL=https://marketingweek.univalle.edu

# Variables públicas de Supabase para Astro (prefijo PUBLIC_)
PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
PUBLIC_SUPABASE_ANON_KEY=tu-anon-key-de-supabase
